*{
    padding: 0;
    box-sizing: border-box;
}

/******Topbar*******/
.header-section{
    width: 100vw;
    height: 11vh;
    left: 0px;
    top: 0px;
    background-color: #6FBB76;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }
 .header-section .row .logo img{
   position: fixed;
   width: 80px;
   height: 73px;
   left: 23px;
   top: 2px;
 }
 .header-section .row .logo .p1 p {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    position: fixed;
    left: 104px;
    top: 12px;
    width: 203px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-align: center;
 }
 .header-section .row .logo .p2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    position: fixed;
    left: 104px;
    top: 35px;
    width: 195px;
    height: 29px;
 }
 .header-section .class_navs .nav{
    margin: 20px 230px;
 }
 .header-section .class_navs .nav li a{
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 13px;
    font-family: 'Inter';
 }
 .header-section .class_navs .nav li a.active{
    color: #FFF;
    flex-shrink: 0;
 }
 
 .header-section  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    z-index: 1;
  }
  
  .header-section  .dropdown-menu li {
    padding: 10px;
  }
  
  .header-section  .dropdown-menu a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .header-section  .nav-item:hover .dropdown-menu {
    display: block;
  }
  .header-section .class_navs .nav .dropdown-menu li a:hover{
    color: #ffffff;
    background-color: #6FBB76;
    transition: 0.3s;
 }
 .header-section .row .logout {
    position: fixed;
    width: 121px;
    height: 34px;
    left: 87vw;
    top: 18px;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    max-height: 100%;
    font-family: 'Inter';
    display: inline-block;
    cursor: pointer;
 }
 .header-section .row .logout .fa{
    position: absolute;
    left: 10.62%;
    right: 77.88%;
    top: 33.29%;
    bottom: 28.57%;
 }
body{
    overflow-x: hidden;
}
.CvSUWebsite h1{
    color: black;
    font-family: 'Poppins';
    margin: 90px 0px 0px 0px;
    font-size: 25px;
    font-weight: 400px;
    
}
.CvSUWebsite video{
    height: 625px;
    margin-top: 10px;
}

.total-result{
    margin: 20px 0px 0px 160px;
    display: inline-flex;
  }
  .total_stud_box {
    position: relative;
    height: 90px;
    width: 300px;
    box-shadow: -2px 2px 10px -4px rgba(4,4,4,0.82);
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; /* Add 'px' unit to the padding value */
    margin: 10px 10px 0px 0px;
    border-radius: 10px;
  }
  
.total_stud_box h1 {
    color: #6FBB76;
    font: normal 600 30px/normal 'Poppins';
    margin: 20px 30px 0px 10px;
  }
  .total_stud_box h1 i{
    color: #000000;
    font-size: 25px;
    margin: 20px 10px 0px 10px;
  }
  
.total_stud_box p {
    color: #000;
    font-size: 20px;
    font: normal 400 18px/normal 'Poppins';
    margin: 0px 30px 0px 30px;
  }











.nstp-activties span{
    color: #ffffff;
    position: absolute;
    padding: 255px 0px 0px 8px;
    font: normal 500 17px/normal 'Poppins';
}
.nstp-activties span:hover{
    transform: scale(0.98);
    transition: all .2s;
}
.NSTP_Act h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
    margin-top: 100px;
}
.col h1{
    color: black;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    margin-top: 10px;
    text-align: 25px;
    margin-left: 12%;
}
.col img{
    margin-right: 25px;
    margin-bottom: 10px;
    width: 515px;
    height: 280px;
    margin-top: 10px;
}
.col img:hover{
    transform: scale(0.98);
    transition: all .2s;
}
.col h2{
    color: black;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.text-center h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 450px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  height: 148px;
  width: 148px;
}
.card .img img {
  width: 300px;
  height:230px;
  border: 4px solid #fff;
}
.carousel .card p {
  font-weight: 100;
  font-size: 13px;
  margin: 50px 40px 0px 30px;
}

.carousel .card button{
  margin: 20px 20px 0px 0px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}






.footer-bg-1 {
	background: url(FooterNew.jpg);
    width: 100%;
    height: 350px;
    padding: 70px 0;
    background-size: cover;
}
.container, .container-md, .container-sm {
    max-width: 100%;
}
.footer-widget__link {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.footer-widget__link li a {
    color: #000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}
.footer-widget__title{
    color: #000;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footer-widget__description{
    color: #000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}
.footer-widget__copyright{
    color: #000;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}
.footer-widget__social-02 i{
    font-size: 20px;
    color: black;
    margin-right: 20px;
}
.footer-widget img{
    width: 200px;
    height: 200px;
}

.col-md-8 h1{
    color: black;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    margin-left: 5%;
    margin-top: 12%;
    margin-bottom: 5%;
    text-indent: 70px;
}
.col-md-6 h3{
    color: black;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    text-align: justify;
}
.col-md-6 p{
    color: black;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    line-height: 20px;
}
.col-md-4 img{
    width: 400px;
    height: 215px;
    margin-top: 17%;
}
.col-md-6 img{
    width: 600px;
    height: 300px;
}
.col-md-8 h2{
    color: black;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    text-align: justify;
    margin-left: 5%;
    margin-top: 6%;
    margin-bottom: 3%;
}
.col-md-8 h3{
    color: black;
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: justify;
    margin-left: 5%;
    margin-bottom: 6%;
    text-indent: 70px;
}

.inner-content-home {
    display: flex;
    padding: 10px 10px;
    margin: 0px 19px;
}
.inner-content-home .inner-left h3{
   padding: 10px 0px;
}
.inner-content-home .inner-left p{
    font-size: 17px;
   text-align:justify;
 }
 .inner-content-home .inner-right h3 {
    padding: 10px 30px;
 }
 .inner-content-home .inner-right p{
    font-size: 17px;
    text-align:justify;
    padding-left: 30px;
 }


















.Vision h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    margin-top: 100px;
}
.Vision h2{
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: justify;
}
.Mission h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    margin-top: 50px;
}
.Mission h2{
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: justify;
}
.QualityPolicy h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    margin-top: 50px;
}
.QualityPolicy h2{
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    text-align: justify;
    margin-bottom: 100px;
}
.QualityPolicy b{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 25px;
    text-align: justify;
    margin-bottom: 100px;
}
.Instructor h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    margin-top: 100px;
    text-align: center;
}
.instructor-section .row {
    margin-left: 100px;
    justify-items: center;
  }
  
.instructor-section .card body{
    align-self: center;
}
.instructor-section .card{
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 1.5em 0.5em 0.5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.instructor-section .card img{
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.instructor-section .card .card-title{
    text-align: center;
    color: black;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 15px;
}
.instructor-section .card .card-text{
    text-align: center;
    color: black;
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 15px;
}
.Contact h1{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: bolder;
    line-height: normal;
    margin-top: 70px;
}
.nstp_coordinator h1{
    color: black;
    font-family: 'Poppins';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-left: 430px;
}
.nstp_coordinator h2{
    color: #008A0E;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    margin-left: 430px;
}
.nstp_coordinator h3{
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-left: 470px;
}
.rounded-img{
    border-radius: 50%;
    position: flex;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 265px;
    float: left;
    text-align: center;
}
.nstp_coordinator i {
    position: absolute;
    font-size: 30px;
    color: black;
    margin-left: 15px;
}
.mapouter{
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}
.gmap_canvas{
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 400px;
}
.gmap_iframe{
    height: 400px!important;
}
.section-padding-02 {
    padding-top: 20px;
}
.contact-info__content i{
    color:#008A0E;
    position: absolute;
    font-size: 30px;
    margin-left: 100px;
}
.contact-info .row h5{
    color: black;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    margin-left: 145px;
    margin-top: 10px;
}
.contact-info .row h6{
    color: black;
    font-family: 'Poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 550;
    margin-left: 25%;
    margin-bottom: 50px;
}





































/*******RESPONSIVE**********/
@media (max-width: 992px){ 
    .header-section .row .logo img{
    position: fixed;
    width: 80px;
    height: 70px;
    left: 15px;
   }
    .header-section .row .logo .p1 p {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 31px;
    position: fixed;
    left: 120px;
    }
    .header-section .row .logo .p2 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    position: fixed;
    left: 120px;
    top: 33px;
    height: 29px;
   }

}