*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
}
body{
  overflow-x: hidden;
}
/*******BODY******/
.bg-section{
  left: 0;
  width: 100vw;
  height: 170vh;
  background: #f1f0f0;
  position: relative;
}

  /*********Main Content********/
  
  /*******LANDING PAGE*******/
  .pcoded-main-content .total-result{
    margin: 20px 0px 0px 200px;
    display: inline-flex;
    position: absolute;
  }
  .pcoded-main-content .total_stud_box {
    position: relative;
    height: 90px;
    width: 300px;
    box-shadow: -2px 2px 10px -4px rgba(4,4,4,0.82);
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px; /* Add 'px' unit to the padding value */
    margin: 10px 20px 0px 20px;
    border-radius: 10px;
  }
  
  .pcoded-main-content .total_stud_box h1 {
    color: #6FBB76;
    font: normal 600 30px/normal 'Poppins';
    margin: 20px 30px 0px 10px;
  }
  .pcoded-main-content .total_stud_box h1 i{
    color: #000000;
    font-size: 25px;
    margin: 20px 10px 0px 10px;
  }
  
  .pcoded-main-content .total_stud_box p {
    color: #000;
    font-size: 20px;
    font: normal 400 18px/normal 'Poppins';
    margin: 0px 30px 0px 30px;
  }
  .pcoded-main-content .calendar_section{
    position: relative;
    margin: 150px 0px 0px 100px;
    

  }
/*******************END LANDING********************/




/*****************************RECORDS SECTION************************************/
    
/*****START RECORDS********/
      .pcoded-main-content .rec-content {
        position: relative;
        margin: 0px 0px 0px 110px;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
      /******STANDARD UPPERBAR********/
      .pcoded-main-content .rec-content .upperbox { 
        height: 50px;
        width: 105%;
        display: flex;
        margin: 10px 0px 0px 35px;
        justify-content: space-between;
        align-items: center;
    }
    .pcoded-main-content .rec-content .upperbox .go-back-button {
      font-size: xx-large;
      color: #008A0E;
      flex-direction: row;
      margin: 0px 0px 1px 0px;
      text-decoration: none;
    }
    .pcoded-main-content .rec-content .upperbox h4{
      font: normal 700 18px/normal 'Poppins';
      margin: 10px 50px 8px 25px;
      
    }
    .pcoded-main-content .rec-content .upperbox h3{
      font: normal 700 18px/normal 'Poppins';
      margin: 14px 0px 8px 5px;
      position: relative;
    }
    /********* table display ***********/
      
    .pcoded-main-content .rec-content .searchbox {
      margin: 8px 0px 10px 320px;
      align-items: center;
      
    }
    .pcoded-main-content .rec-content .searchbox i{
      flex-direction: row;
      position: absolute;
      margin: 8px 0px 5px 10px;
    }
    .pcoded-main-content .rec-content .searchbox input[type="text"] {
      width: 290px;
      padding: 0px 0px 0px 35px;
      font-size: 14px;
      height: 30px;
      border-radius: 15px;
      border: 1px #000;
      background: #FFF;
      box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
      font-family: 'Poppins';
      font-weight: 500;
    }
    .pcoded-main-content .rec-content .searchbox input::placeholder{
      color: #BEBEBF;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        text-align: left;
    }
    .pcoded-main-content .rec-content .print i {
      font-size: x-large;
      margin: 0px 0px 5px 0px;
      flex-direction: row;
    }
    
    /*********BOXES***********/
    .pcoded-main-content .rec-content .middlebox {
      padding: 5px;
      margin: 20px 0px 0px 100px;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
    }
      .pcoded-main-content .rec-content .middlebox .records_box {
        width: 350px;
        height: 105px;
        margin: 20px 20px 0px 20px;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .pcoded-main-content .rec-content .middlebox .records_box:hover{
      background-color: #6FBB76;
      transition: all .5s ease;
      transform: scale(0.98);
      z-index: 2;
      color: #FFF;
    }
    .pcoded-main-content .rec-content .middlebox .records_box h3{
      font: normal 500 20px/normal 'Poppins';
      text-align: center;
      margin: 40px 0px 0px 5px;
    }
    .pcoded-main-content .middlebox .records_box  h3 i{
      color: #000000;
      font-size: 20px;
      margin: 0px 10px 0px 0px;
    }
    .pcoded-main-content .rec-content .middlebox .records_box:hover i{
      color: #FFF;
    }
    .pcoded-main-content .middlebox .records_box  h3 ion-icon{
      color: #000000;
      font-size: 20px;
      margin: 0px 10px 0px 0px;
    }
    .pcoded-main-content .rec-content .middlebox .records_box:hover ion-icon{
      color: #FFF;
    }




/****************RECORD CLASSES*******************/
  
  .pcoded-main-content .rec-content .middlebox-class {
    padding: 5px;
    margin: 20px 0px 0px 100px;
    width: 800px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;
  }
  .pcoded-main-content .rec-content .middlebox-class a {
    text-decoration: none;
  }
  .pcoded-main-content .rec-content .middlebox-class a .course-box {
    width: 350px;
    margin: 5px 20px 0px 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .pcoded-main-content .rec-content .middlebox-class a .course-box:hover{
    background-color: #6FBB76;
    transition: all .5s ease;
    transform: scale(0.98);
    z-index: 2;
    color: #FFF;
  }
  .pcoded-main-content .rec-content .middlebox-class a .course-box p{
    color: #000;
    font: normal 500 17px/normal 'Poppins';
    padding: 35px;
  }
  .pcoded-main-content .rec-content .middlebox-class a .course-box p:hover{
    color: #FFF;
    transition: all .5s ease;
    transform: scale(0.98);
  }
/**************/


/********TABLE CLASSES*********/
      .pcoded-main-content .rec-content .align-tbl{
        margin: 10px 160px 0px 170px;
      }
      .pcoded-main-content .rec-content .align-tbl .tabledisplay {
        width: 600px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin-top: 40px;
        border-radius: 6px;
        background: #FFF;
        box-shadow: -2px 2px 15px -4px rgba(4,4,4,0.82);
      }
      .pcoded-main-content .rec-content 
      .align-tbl .tabledisplay #course-table {
        width: 520px;
        margin: 10px;
        
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay #course-table th,
        #course-table td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

      .pcoded-main-content .rec-content 
      .align-tbl .tabledisplay #course-table th {
        text-align: left;
        background-color: #e7e7e7;
        font: normal 500 14px/normal 'Poppins';
        padding: 10px;
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay #course-table
      .edit-button {
        background-color: #2196F3;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay #course-table
      .edit-button:hover{
        background-color: #1307f4;
        transition: 0.4s;
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay #course-table
      .delete-button {
        background-color: #f44336;
        border-radius: 4px;
        font: normal 13px/normal 'Poppins';
        height: 32px;
        color: #FFF;
        border: none;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay #course-table
      .delete-button:hover {
        background-color: #ff1100;
        transition: 0.4s;
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay 
      #course-table tbody tr:hover {
        background-color: #f5f5f5;
      }
      .pcoded-main-content .rec-content
      .align-tbl .tabledisplay 
      #course-table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        font: normal 400 14px/normal 'Inter';
      }
      .pcoded-main-content .rec-content
      .add-box{
        margin: 20px 0px 0px 100px; 
        bottom: 20px;
        left: 50%;
      }
      .pcoded-main-content .rec-content
      .add-box button{
        width: 130px;
        height: 45px;
        z-index: 999;
        background-color: #4CAF50;
        color: white; 
        border: none;
        padding: 10px 20px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block; 
        font: normal 400 12px/normal 'Inter'; 
        margin: 4px 2px; 
        cursor: pointer;
        border-radius: 5px;
      }
      .pcoded-main-content .rec-content
      .add-box button:hover{
        background-color: #008104;
        transition: 0.4s;
      }

      
        

       
        
        /************ ADD CLASS POPUP FORM *************/
        #add-section-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 400px 900px rgba(0,0,0,0.28);
            z-index: 9999;
        }
        .form-container {
            width: 300px;
        }
        .form-container h4 {
            margin-top: 0;
        }
        .form-container label {
            display: block;
            margin-bottom: 5px;
            font: normal 400 15px/normal 'Poppins';
        }
        .form-container input[type="text"] {
            width: 95%;
            padding: 5px;
            margin-bottom: 10px;
            border-color: none;
            border-radius: 6px;
        }
        .form-container button[type="submit"] {
            background-color: #6FBB76;
            color: #fff;
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            border-radius: 3px;
            font: normal 400 13px/normal 'Poppins';
        }
        .form-popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 400px 900px rgba(0,0,0,0.28);
            z-index: 9999;
        } 
       /* Additional styling for the form container */
       .form-container {
        text-align: center;
    }

        /* Show the pop-up form */
        .show {
            display: block;
        }
        .tabledisplay {
            width: 500px;
    }
        @media print {
            .upperbox,
            .lowerbox,
            .searchbox
            .sidebar{
                display: none;
            }
        }
        #edit-section-popup .cancel-button {
            background-color: #bababa;
            color: #ffffff;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            margin-left: 100px;
            border-radius: 3px;
            font: normal 400 13px/normal 'Poppins';
        }
        #edit-section-popup .cancel-button:hover {
            background-color: #999;
        }
/*******************END RECORD CLASSES********************/




/****************RECORD COURSE-CLASSES******************/
        
/*****form*****/
      .pcoded-main-content .rec-content .formbox {
        width: 95%;
        margin: 0px 0px 0px 60px;
      }
      .pcoded-main-content .rec-content
      .form-container {
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        width: 290px;
        height: 230px;
        position: absolute;
        margin-top: 25px;
        box-shadow: -2px 2px 15px -4px rgba(4,4,4,0.82);
      }
      .pcoded-main-content .rec-content
      .form-container h4{
        font: normal 500 20px/normal 'Poppins';
        text-align: center;
      }
      .pcoded-main-content .rec-content
      .form-container label{
        font: normal 400 13px/normal 'Poppins';
        text-align: center;
        margin: 15px 0px;
      }
      .pcoded-main-content .rec-content
      .form-container input{
        border-color: none;
        border-radius: 10px;
      }
      .pcoded-main-content .rec-content
      .form-container button{
        margin-top: 20px;
      }
      /******table*****/
      .pcoded-main-content .rec-content 
      .align-tbl-course{
        margin: 10px 0px 0px 330px;
      }
      .pcoded-main-content .rec-content 
      .align-tbl-course .tabledisplay {
        width: 590px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin-top: 30px;
        border-radius: 6px;
        background: #FFF;
        box-shadow: -2px 2px 15px -4px rgba(4,4,4,0.82);
      }
      .pcoded-main-content .rec-content 
      .align-tbl-course .tabledisplay #course-table {
        width: 520px;
        margin: 10px;
      }
      .pcoded-main-content .rec-content 
      .align-tbl-course .tabledisplay #course-table th {
        text-align: left;
        background-color: #e7e7e7;
        font: normal 500 14px/normal 'Poppins';
      }
      .pcoded-main-content .rec-content
      .align-tbl-course .tabledisplay #course-table
      .edit-button {
        background-color: #2196F3;
        border-radius: 4px;
        font: normal 13px/normal 'Poppins';
        height: 32px;
        color: #FFF;
        border: none;
        padding: 0px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;

      }
      .pcoded-main-content .rec-content
      .align-tbl-course .tabledisplay #course-table
      .edit-button:hover{
        background-color: #1307f4;
        transition: 0.4s;
      }
      .pcoded-main-content .rec-content
      .align-tbl-course .tabledisplay #course-table
      .delete-button {
        background-color: #f44336;
        border-radius: 4px;
        font: normal 13px/normal 'Poppins';
        height: 32px;
        color: #FFF;
        border: none;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
      }
      .pcoded-main-content .rec-content
      .align-tbl-course .tabledisplay #course-table
      .delete-button:hover {
        background-color: #ff1100;
        transition: 0.4s;
      }
      .pcoded-main-content .rec-content
      .align-tbl-course .tabledisplay 
      #course-table tbody tr:hover {
        background-color: #f5f5f5;
      }
      .pcoded-main-content .rec-content
      .align-tbl-course .tabledisplay 
      #course-table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        font: normal 400 14px/normal 'Inter';
      }
/*****************END RECORD COURSE-CLASSES**************/

  
/****************RECORDS STUDENT****************/
.pcoded-main-content .rec-content .middlebox-Student {
  padding: 5px;
  margin: 20px 0px 0px 100px;
  width: 800px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.pcoded-main-content .rec-content 
.middlebox-Student a {
  text-decoration: none;
}
.pcoded-main-content .rec-content 
.middlebox-Student a .course-box {
  margin: 10px;
  width: 350px;
  margin: 5px 20px 0px 25px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pcoded-main-content .rec-content
.middlebox-Student a .course-box:hover{
  background-color: #6FBB76;
  transition: all .5s ease;
  transform: scale(0.98);
  z-index: 2;
  color: #FFF;
}
.pcoded-main-content .rec-content
.middlebox-Student a .course-box p{
  color: #000;
  font: normal 500 17px/normal 'Poppins';
  padding: 35px;
}
.pcoded-main-content .rec-content
.middlebox-Student a .course-box p:hover{
  color: #FFF;
  transition: all .5s ease;
  transform: scale(0.98);
}
/*******RECORDS STUDENT CLASSES********/
.pcoded-main-content .rec-content 
.middlebox-Student-classes {
  padding: 5px;
  margin: 20px 0px 0px 120px;
  width: 800px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.pcoded-main-content .rec-content 
.middlebox-Student-classes a {
  text-decoration: none;
}
.pcoded-main-content .rec-content 
.middlebox-Student-classes a .section-box {
  width: 300px;
  margin: 5px 30px 0px 30px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pcoded-main-content .rec-content
 .middlebox-Student-classes a .section-box:hover{
  background-color: #6FBB76;
  transition: all .5s ease;
  transform: scale(0.98);
  z-index: 2;
  color: #FFF;
}
.pcoded-main-content .rec-content
 .middlebox-Student-classes a .section-box p{
  color: #000;
  font: normal 500 17px/normal 'Poppins';
  padding: 35px;
}
.pcoded-main-content .rec-content
.middlebox-Student-classes a .section-box p:hover{
  color: #FFF;
  transition: all .5s ease;
  transform: scale(0.98);
}
/*******END RECORDS STUDENT CLASSES********/

/*******RECORDS SECTION DETAILS********/
/*******END RECORDS SECTION DETAILS********/


/*********RECORDS INSTRUCTOR************/


.pcoded-main-content .rec-content .middlebox-instructor {
  padding: 5px;
  margin: 20px 0px 0px 100px;
  width: 800px;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
}
.pcoded-main-content .rec-content 
.middlebox-instructor a {
  text-decoration: none;
}
.pcoded-main-content .rec-content 
.middlebox-instructor a .course-box {
  margin: 10px;
  width: 350px;
  margin: 5px 20px 0px 25px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.pcoded-main-content .rec-content
.middlebox-instructor a .course-box:hover{
  background-color: #6FBB76;
  transition: all .5s ease;
  transform: scale(0.98);
  z-index: 2;
  color: #FFF;
}
.pcoded-main-content .rec-content
.middlebox-instructor a .course-box p{
  color: #000;
  font: normal 500 17px/normal 'Poppins';
  padding: 35px;
}
.pcoded-main-content .rec-content
.middlebox-instructor a .course-box p:hover{
  color: #FFF;
  transition: all .5s ease;
  transform: scale(0.98);
}


/******INSTRUCTOR LIST********/
.pcoded-main-content .rec-content .align-tbl-instructor{
  margin: 10px 110px 0px 100px;
}
  .pcoded-main-content .rec-content
   .align-tbl-instructor
    .table-list-display .course p{
    padding: 5px;
    font: normal 500 17px/normal 'Poppins';
    margin: 5px;
    position: absolute;
  }
  .pcoded-main-content .rec-content
   .align-tbl-instructor
    .table-list-display .course p span{
      color: #008A0E;
      margin-left: 350px;
    }
  .pcoded-main-content .rec-content
   .align-tbl-instructor .table-list-display {
    width: 800px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 40px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: -2px 2px 15px -4px rgba(4,4,4,0.82);
  }
  .pcoded-main-content .rec-content 
  .align-tbl-instructor #instructor-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 45px 25px 0px 20px;
  }
  .pcoded-main-content .rec-content 
  .align-tbl-instructor #instructor-table th,
  #instructor-table td {
      padding: 8px 2px 8px 2px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      font: normal 500 14px/normal 'Poppins';
  }

  .pcoded-main-content .rec-content 
  .align-tbl-instructor #instructor-table th,
  #instructor-table #instructor-table th {
      background-color:#e7e7e7;
      font: normal 500 15px/normal 'Poppins';
  }
  .pcoded-main-content .rec-content 
  .align-tbl-instructor .table-list-display 
  #instructor-table .image-container {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    }

    .pcoded-main-content .rec-content 
  .align-tbl-instructor .table-list-display 
  #instructor-table .image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    }
    .pcoded-main-content .rec-content
    .align-tbl-instructor .table-list-display #instructor-table
    .edit-button {
      background-color: #2196F3;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }
    .pcoded-main-content .rec-content
    .align-tbl-instructor .table-list-display #instructor-table
    .edit-button:hover{
      background-color: #1307f4;
      transition: 0.4s;
    }
    .pcoded-main-content .rec-content
    .align-tbl-instructor .table-list-display #instructor-table
    .delete-button {
      background-color: #f44336;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
    }
    .pcoded-main-content .rec-content
    .align-tbl-instructor .table-list-display #instructor-table
    .delete-button:hover {
      background-color: #ff1100;
      transition: 0.4s;
    }
/**********END RECORDS INSTRUCTOR*************/

/********RECORDS FINANCES**********/
.pcoded-main-content .rec-content .middlebox-finance{
  padding: 35px 10px 5px 0px;
  margin: 40px 5px 5px 35px;
  width: 1000px;
  height: 550px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #edecec;
  border-radius: 20px;
}
.pcoded-main-content .rec-content .middlebox-finance 
.status-box{
  display: flex;
  margin-left: 60px;
}
/*****first finance****/
.pcoded-main-content .rec-content .middlebox-finance
.budget-box{
  background: rgb(111,187,118);
  background: linear-gradient(90deg, rgba(111,187,118,1) 35%, rgba(129,204,135,1) 100%);
  box-shadow: 7px 2px 15px 10px rgba(255,255,255,0.9);
  width:  280px;
  height: 150px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}
.pcoded-main-content .rec-content .middlebox-finance 
.budget-box ion-icon{
  color: #000000;
  margin-top: 10px;
  font-size: xx-large;
}
.pcoded-main-content .rec-content .middlebox-finance 
.budget-box h1{
  color: #000000;
  margin-top: 5px;
  font: normal 600 30px/normal 'Poppins';
}
.pcoded-main-content .rec-content .middlebox-finance 
.budget-box p{
  color: #000000;
  font: normal 500 14px/normal 'Inter';
}
/*****2nd and 3rd box finance*****/
.pcoded-main-content .rec-content .middlebox-finance 
.total-expenses-box{
  background: rgb(111,187,118);
  background: linear-gradient(90deg, rgba(111,187,118,1) 35%, rgba(129,204,135,1) 100%);
  box-shadow: 7px 2px 15px 10px rgba(255,255,255,0.9);
  width:  280px;
  height: 150px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}
.pcoded-main-content .rec-content .middlebox-finance 
.total-expenses-box ion-icon{
  color: #000000;
  margin-top: 10px;
  font-size: xx-large;
}
.pcoded-main-content .rec-content .middlebox-finance 
.total-expenses-box h1{
  color: #000000;
  margin-top: 5px;
  font: normal 600 30px/normal 'Poppins';
}
.pcoded-main-content .rec-content .middlebox-finance 
.total-expenses-box p{
  color: #060606;
  font: normal 500 14px/normal 'Inter';
}

/******margin table*****/
.pcoded-main-content .rec-content 
.align-tbl-finances{
  margin: 60px 0px 0px 100px;
}
.pcoded-main-content .rec-content .align-tbl-finances 
.table-box {
  width: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 10px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 7px 2px 15px 0px rgba(0,0,0,0.3);
  padding: 15px 30px 30px 30px;
}
.pcoded-main-content .rec-content .align-tbl-finances 
.table-box p{
  font: normal 500 17px/normal 'Poppins';
  position: absolute;
  display: flex;
  text-align: start;
}
/******table finance*****/
.pcoded-main-content .rec-content .align-tbl-finances
.tabledisplay-finance #expense-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 40px;
}
.pcoded-main-content .rec-content .align-tbl-finances 
.tabledisplay-finance #expense-table th,
#expense-table td {
  padding: 8px;
  text-align: left;
  font: normal 500 14px/normal 'Poppins';
}
.pcoded-main-content .rec-content .align-tbl-finances 
#expense-table th {
  background-color: #f2f2f2;
  font: normal 500 14px/normal 'Poppins';
}
.pcoded-main-content .rec-content
.align-tbl-finances  .tabledisplay-finance #expense-table
    .edit-button {
      background-color: #2196F3;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      
    }
    .pcoded-main-content .rec-content
    .align-tbl-finances  .tabledisplay-finance #expense-table
    .edit-button:hover{
      background-color: #1307f4;
      transition: 0.4s;
    }
    .pcoded-main-content .rec-content
    .align-tbl-finances  .tabledisplay-finance #expense-table
    .delete-button {
      background-color: #f44336;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
    }
    .pcoded-main-content .rec-content
    .align-tbl-finances  .tabledisplay-finance #expense-table
    .delete-button:hover {
      background-color: #ff1100;
      transition: 0.4s;
    }

/********END RECORDS FINANCES*******/
/****************RECORDS STUDENTS*******************/
.pcoded-main-content .rec-content .align-tbl-student{
  margin: 10px 110px 0px 100px;
}
  .pcoded-main-content .rec-content 
  .align-tbl-student .student-tbl-display .course-and-section p{
  padding: 5px;
  font: normal 500 17px/normal 'Poppins';
  margin: 5px;
  position: absolute;
  }
  .pcoded-main-content .rec-content
  .align-tbl-student .student-tbl-display {
  width: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 40px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: -2px 2px 15px -4px rgba(4,4,4,0.82);
  }
  .pcoded-main-content .rec-content 
  .align-tbl-student #student-course-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 45px 25px 0px 20px;
  }
  .pcoded-main-content .rec-content 
  .align-tbl-student #student-course-table th,
  #student-course-table td {
  padding: 8px 2px 8px 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font: normal 500 14px/normal 'Poppins';
  }
  
  .pcoded-main-content .rec-content 
  .align-tbl-student #student-course-table th,
  #student-course-table #student-course-table th {
  background-color:#e7e7e7;
  font: normal 500 15px/normal 'Poppins';
  }
  .pcoded-main-content .rec-content 
  .align-tbl-student #student-course-table a{
    color: #000000;
    font: normal 500 13px/normal 'Poppins';
  }
  .pcoded-main-content .rec-content .student-info {
   margin: 30px 130px;
   width: 800px;
  }
  .pcoded-main-content .rec-content .student-info 
  .middle-box_Student {
   height: 400px;
   flex-shrink: 0;
   border-radius: 20px;
   background:#6FBB76;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   padding: 40px 50px;
 }
  .pcoded-main-content .rec-content .student-info 
  .middle-box_Student p {
    font-size: 20px;
    font-weight: 350;
  }
/****************END RECORDS STUDENTS*******************/



/****************School YEar***********************/
.pcoded-main-content .rec-content .align-tbl-year{
  margin: 10px 110px 0px 180px;
}
.pcoded-main-content .rec-content .align-tbl-year #course-table {
  width: 500px;
  margin: 10px;
  
}

.pcoded-main-content .rec-content .align-tbl-year #course-table th, #course-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.pcoded-main-content .rec-content .align-tbl-year #course-table th {
  text-align: left;
}

.pcoded-main-content .rec-content .align-tbl-year #course-table tbody tr:hover {
  background-color: #f5f5f5;
}

.pcoded-main-content .rec-content .align-tbl-year #course-table .edit-button, #course-table .delete-button {
  padding: 6px 10px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.pcoded-main-content .rec-content .align-tbl-year #course-table .edit-button {
  background-color: #2196F3;
  border-radius:4px;
}

.pcoded-main-content .rec-content .align-tbl-year #course-table .delete-button {
  background-color: #f44336;
  border-radius:4px;
}
  .pcoded-main-content .rec-content
   .align-tbl-year
    .table-year-display .course p{
    padding: 5px;
    font: normal 500 17px/normal 'Poppins';
    margin: 5px;
    position: absolute;
  }
  .pcoded-main-content .rec-content
   .align-tbl-year
    .table-year-display .course p span{
      color: #008A0E;
      margin-left: 350px;
    }
  .pcoded-main-content .rec-content
  .align-tbl-year .table-year-display {
    width: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 40px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: -2px 2px 15px -4px rgba(4,4,4,0.82);
  }
  .pcoded-main-content .rec-content 
  .align-tbl-year #semester-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 45px 25px 0px 20px;
  }
  .pcoded-main-content .rec-content 
  .align-tbl-year #semester-table th,
  #semester-table td {
      padding: 8px 2px 8px 2px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      font: normal 500 14px/normal 'Poppins';
  }

  .pcoded-main-content .rec-content 
  .align-tbl-year #semester-table th,
  #semester-table #semester-table th {
      background-color:#e7e7e7;
      font: normal 500 15px/normal 'Poppins';
  }
 

    .pcoded-main-content .rec-content
    .align-tbl-year .table-year-display #semester-table
    .edit-button {
      background-color: #2196F3;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }
    .pcoded-main-content .rec-content
    .align-tbl-year .table-year-display #semester-table
    .edit-button:hover{
      background-color: #1307f4;
      transition: 0.4s;
    }
    .pcoded-main-content .rec-content
    .align-tbl-year .table-year-display #semester-table
    .delete-button {
      background-color: #f44336;
      border-radius: 4px;
      font: normal 13px/normal 'Poppins';
      height: 32px;
      color: #FFF;
      border: none;
      padding: 0px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
    }
    .pcoded-main-content .rec-content
    .align-tbl-year .table-year-display #semester-table
    .delete-button:hover {
      background-color: #ff1100;
      transition: 0.4s;
    }
    .pcoded-main-content .rec-content
    .align-tbl-year #semester-table {
    width: 500px;
    margin: 10px;
}

.pcoded-main-content .rec-content
    .align-tbl-year #semester-table th,
#semester-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.pcoded-main-content .rec-content
    .align-tbl-year #semester-table th {
    text-align: left;
}

.pcoded-main-content .rec-content
    .align-tbl-year #semester-table tbody tr:hover {
    background-color: #f5f5f5;
}

.pcoded-main-content .rec-content
    .align-tbl-year #semester-table .edit-button,
#semester-table .delete-button {
    padding: 6px 10px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.pcoded-main-content .rec-content
    .align-tbl-year #semester-table .edit-button {
    background-color: #2196F3;
    border-radius: 4px;
}

.pcoded-main-content .rec-content
    .align-tbl-year  #semester-table .delete-button {
    background-color: #f44336;
    border-radius: 4px;
}

.pcoded-main-content .rec-content
    .align-tbl-year #edit-sem-popup .cancel-button{
    width: 70px;
    font-size: 14px;
    border-radius: 5px;
    padding: 8px;
    display: block;
    margin-top: 10px;
    background-color: gray;
}
.pcoded-main-content .rec-content
    .align-tbl-year #semester-table form button{
    width: 110px;
    padding: 2px 2px 2px 2px;
    display: block;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
}
/****************School YEar***********************/

  /*******************END RECORDS********************/



  /********Admin Complience*************/


      /*******COMPLIANCE FIRST PAGE********/
      .pcoded-main-content .nav-compliance{
        margin: 20px 160px;
    }
    .pcoded-main-content .nav-compliance .nav {
        border-radius: 20px;
        background: #6FBB76;
        padding: 10px 10px;
        width: 500px;
    }
    .pcoded-main-content .nav-compliance .nav li a{
        color: #000;
        font-size: 17px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        line-height: normal;
   }
   .pcoded-main-content .nav-compliance .nav li a:hover {
        color: white;
   }
   .pcoded-main-content .nav-compliance .nav .vertical{
        border-left: 1px solid black;
        height: 34px;
   }
   .pcoded-main-content .nstp-description{
        color: #000;
        font-size: 25px;
        font-family: 'Inter';
        font-weight: 400;
        padding: 15px 170px;
   }
   .pcoded-main-content .nstp-description h2{
        color: #000;
        font-size: 23px;
        font-family: 'Inter';
        font-weight: 550;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 20px;

   }
   .pcoded-main-content .nstp-description p{
        margin-left: 25px;
        display: flex;
        width: 920px;
        height: 155px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
        font-size: 15px;
        font-family: 'Poppins';
        line-height: 30px;
        text-indent: 70px;
        text-align: justify;
   }
/*******END OF COMPLIANCE FIRST PAGE********/  





  /*******COMPLIANCE SECOND PAGE********/
  .pcoded-main-content .compliance2-title{
        margin: 20px 160px;
  }
  .pcoded-main-content .compliance2-title .compliance-items{
    border-radius: 20px;
    background: #6FBB76;
    padding: 7px 10px;  
    width: 500px;
  }
  .pcoded-main-content .compliance2-title .compliance-items h2 {
    color: #000;
        font-size: 17px;
        font-family: 'Inter';
        font-weight: 00;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
  }
  .pcoded-main-content .compliance2-title .compliance2-middle-box p{
        margin-top: 38px;
        margin-left: 40px;
        display: flex;
        width: 850px;
        flex-shrink: 0;
        color: #000;
        font-size: 16px;
        font-family: 'Poppins';
        line-height: 30px;
        text-indent: 70px;
        text-align: justify;
  }
  .pcoded-main-content .compliance2-title .compliance2-button{
    position: absolute;
  }      
  .pcoded-main-content .compliance2-button a ion-icon{
    font-size: xx-large;
    color: #008A0E; 
    margin-left: 66vw;
    margin-top: -21vw;
    position: absolute;
  }
  .pcoded-main-content .compliance2-button a.active {
      color: white;
 }
/*******END OF COMPLIANCE SECOND PAGE********/






 /*******COMPLIANCE THIRD PAGE********/
 .pcoded-main-content .compliance3-title h4 {
  text-align: center; 
  margin: 20px 0px 10px 220px;
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  line-height: normal;
 }
 .pcoded-main-content .compliance3-title .compliance3-button{
  position: absolute;
  margin: -42.5px 20px 10px 95%;
}      
.pcoded-main-content .compliance3-title a ion-icon{
  font-size: xx-large;
  color: #008A0E; 
  position: absolute;
}
 .pcoded-main-content .images-gov {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 10px 0px 0px 220px;
 }
 .pcoded-main-content .images-gov .inner-content1 img{
  height: 360px;
  width: 290px;
  margin: 20px 10px;
 }
 .pcoded-main-content .content-link {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0px 0px 40px 205px;   
 }
 .pcoded-main-content .content-link  p{
  height: 30px;
  width: 260px;
  margin: 0px 45px;
  color: #000;
  font-family: 'Inter';
 }
 .pcoded-main-content .content-link .inner-link a{
  color:  #4CAF50;
 }
 .pcoded-main-content .list-content {
    margin-left: 160px;
 }
 .pcoded-main-content .Govermentlink li a{
  margin: 60px 0px;
  font-size: 20px;
  color:  #4CAF50;
  font-weight: 500;
 }
/*******END OF COMPLIANCE THIRD  PAGE********/




.admin_external h1{
  color: black;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: bolder;
  line-height: normal;
  margin-top: 70px;
}
.admin_external{
  border-bottom: solid black 3px;
  margin-bottom: 20px;
}
.inner_admin button{
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-left: 100px;
  margin-top: -5px;
  width: 545px;
  height: 100px;
  font-family: 'Poppins';
  font-weight: 800;
}
.inner_admin button:hover{
  background-color: #008A0E;
}
.inner_admin-2 button{
  border-radius: 10px;
  background-color: white;
  color: black;
  margin-left: 666px;
  margin-top: -128px;
  width: 545px;
  height: 100px;
  font-family: 'Poppins';
  font-weight: 800;
}
.inner_admin-2 button:hover{
  background-color: #008A0E;
}
.cwtsclass{
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  margin-left: 100px;
  width: 1110px;
  height: 500px;
  margin-bottom: 50px;
  box-shadow: 1px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
.cwtsclass h1{
  color: black;
  font-family: 'Poppins';
  font-size: 25px;
  font-weight: 900;
  line-height: normal;
}
.cwtsclass-2 button{
  border-radius: 10px;
  background-color: #6FBB76;
  color: black;
  margin-left: -30px;
  margin-top: 450px;
  margin-bottom: 50px;
  width: 1113px;
  height: 50px;
  font-family: 'Poppins';
  font-weight: 800;
}
.cwtsclass-2 button:hover{
  background-color: #008A0E;
}

  /************MAIN CONTENTS**************/