*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


body{
    overflow-y: hidden;
    overflow-x: hidden;
  }

/***************** L O G I N ********************/
/********Body background***********/

.bg{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}
.bg img{
    width: 100%;
    min-height: 100vh;
    background-position: center;
}
.bg::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    background-blend-mode:darken;
}
/*********body content*******/

.login-section .login{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.login-section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
}
.logout_container{
    margin-top: 55px;
}
.logout_container .row{
    margin-left: 270px;
}
.login-section .row .text-align img{
    width: 110px;
    height: 115px;
    margin-top: 10px; 
    margin-left: 18px;
}   
.login-section .row .text-align .body_logo  {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.login-section .row .text-align .body_logo p {
    position: absolute;
    margin-bottom: 0;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    line-height: 55px;
    color: #FFFFFF;
    top: 15px;
    width: 500px;
    height: 36px;
    color: #FFFFFF;
    left: 82px;
}
.login-section .row .text-align .body-title h1{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 1000;
    line-height: 29px;
    position: absolute;
    font-size: 50px;
    left: 155px;
    top: 73px;
    width: 450px;
    height: 59px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/****input box login****/
.form-login{
   position: relative;  
   -webkit-box-align: center;
    -ms-flex-align: center;
}
.form-login .box .form-group  {
    position: relative;
     margin: 0px 300px;
     background: #FFFFFF;
     align-items: center;
     border-radius: 10px;
     color: #000000;
     height: 450px;
     padding: 15px 60px;
}
.form-login .form-group .login-title h3{
    margin: 30px 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
}
.form-login .form-group .form-control{
    width: 385px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 8px;
    align-items: center;
    padding: 5px 0px;
    font-family: 'inter';
    padding-left: 10px;
    caret-color: #008A0E;
    background-color: rgb(255, 255, 255);
}

.form-login .form-group .form-login .form-control::placeholder{
    color: #BEBEBF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}
.form-login .form-group .form-login .form-control input{
    caret-color: rgb(255, 81, 0);
}
.form-login .form-group .form-login .log{
    margin-top: 15px;
}

 

/***hide and show password***/

.form-login .form-group .form-login .password-toggle {
    position: absolute;
    top: 57.5%;
    transform: translateY(-50%);
    cursor: pointer;
    right: 35px;
    font-size: 17px;
    height: 24px;
    color: #BEBEBF;
  }
  .form-login .form-group .form-login .password-toggle i.active {
    color: #6FBB76;
  }
.form-login .form-group .form-login .password-toggle::hover{
    background-color: #6FBB76;
}

/****navigate to signup***/
.form-login .form-group .form-login .btn{
    margin: 35px 0px;
    padding: 18px 170px;
    background-color: #6FBB76;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    transition: all .6s ease;
}
.form-login .form-group .form-login .btn:hover {
    transform: scale(1.02);
  }
.form-login .signup{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    margin: 0px 27px;
}
.form-login .signup a{
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}
/******************** E N D       L O G I N *****************************/


/******************* S I G N U P *******************************/
    /*****Body background*****/

    .bg-signup{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
    }
    .bg-signup img{
        width:100%;
        min-height: 100vh;
        background-position: center;
    }
    .bg-signup::before{
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        background-blend-mode: darken;
    }

    /*********body content*********/
    .signup-section{
        position: absolute;
        width: 110px;
        height: 50px;
        left: 140px;
        top: 39%; 
    }
    .signup-section .row .text-align img{
        width: 120px;
        height: 120px; 
    }   
    .signup-section .row .text-align .body_logo p{
        position: absolute;
        height: 100px;
        width: 450px;
        left: 140px;
        top: 5px;
        font-family: 'Abel';
        font-style: normal;
        font-weight: 400;
        font-size: 49px;
        line-height: 55px;
        color: #FFFFFF;
    }
    .signup-section .row .text-align .body-title h1{
        font-family: 'Inter';
        font-style: bold;
        font-weight: 1000;
        line-height: 29px;
        position: absolute;
        font-size: 53px;
        left: 140px;
        top: 65px;
        width: 500px;
        height: 29px;
        color: #FFFFFF;
        letter-spacing: 1px;
    }

    /***********Form Section***************/
    .form-signup{
        position: relative;  
        -webkit-box-align: flex-end;
        -ms-flex-align: flex-end;
        margin-left: 500px;
    }
    .form-signup .box .form-group {
        position: relative;
        background: #FFFFFF;
        border-radius: 10px;
        height: 625px;
        padding: 15px 50px;
        margin: 30px 20vw;
        width: fit-content;
        align-items: center;
    }
    .form-signup .form-group{
        margin: 40px 0px;
    }
    .form-signup .form-group .login-title h3{
        margin-top: 27px;
        padding-left: 60px;
        padding-bottom: 3px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 23px;
        line-height: 100%;
        color:#6FBB76;
    }
    .form-signup .form-group .form-control{
        border: #FFFFFF;
    }
    .form-signup .form-group .form-control label {
        display: inline-block;
        margin-bottom: 8px;
        position: relative;
        font-size: 14px;
        margin-top: 3px;
    }

    .form-signup .form-group .form-control input {
        width: 300px;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 10px;
        display: block;
        font-family: 'poppins';
        font-size: 13px;
        line-height: 100%;
        margin-bottom: 5px;
    }

    /*********successfull and error display**********/
    .form-signup .form-group .success input {
        border-color: #39df7e;
       
        
    }

    .form-signup .form-group .error input {
        border-color: #df3434;
    }

    .form-signup .form-group .form-control i {
        position: absolute;
        right: 75px;
        visibility: hidden;
    }

    .form-signup .form-group small {
        color: #df3434;
        position: absolute;
        left: 60px;
        font-size: 11px;
        display: none; /* Change visibility to display */ 
        
    }

    .form-signup .form-group .success i.fa-check-circle {
        color: #39df7e;
        visibility: visible;
    }

    .form-signup .form-group .error i.fa-exclamation-circle {
        color: #df3434;
        visibility: visible;
    }

    .form-signup .form-group select {
        width: 120px;
        border: 1px solid black;
        font-size: 14px;
        border-radius: 5px;
        padding: 12px;
        display: block;
    }

    .form-signup .form-group .success select {
        border-color: #39df7e;
    }

    .form-signup .form-group .error select {
        border-color: #df3434;
    }
    /*********END successfull and error display**********/

    .form-signup .form-group .box-control{
        margin-left: 0;
        margin-top: 5px;
        display: flex;
    }

    .form-signup .form-group .form-control-1 {
        margin-bottom: 8px;
        position: relative;
    }

    .form-signup .form-group .form-control-1 select {
        width: 140px;
        border: 1px solid black;
        font-family: 'poppins';
        font-size: 11px;
        line-height: 100%;
        border-radius: 5px;
        padding: 12px;
        display: block;
        margin-right: 30px;
    }

    .form-signup .form-group .form-control-1 label {
        display: inline-block;
        margin-bottom: 8px;
    }

    .form-signup .form-group .form-control-2 {
        margin-bottom: 8px;
        position: relative;
    }

    .form-signup .form-group .form-control-2 select {
        width: 130px;
        border: 1px solid black;
        font-family: 'poppins';
        font-size: 11px;
        line-height: 100%;
        border-radius: 5px;
        padding: 12px;
        display: block;

    }

    .form-signup .form-group .form-control-2 label {
        display: inline-block;
        margin-bottom: 8px;
        

    }

    .form-signup .form-group .btn{
        margin: 25px 0px;
        padding: 10px 120px;
        background-color: #6FBB76;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }

    .form-signup .login{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        margin: 10px 25px;
    }
    .form-signup .login a{
        text-decoration: none;
        font-weight: 600;
        color: #000000;
    }

/*************E N D        S I G N U P***************/

/*******RESPONSIVE**********/

@media (max-width: 768px){
    .login-navbar{
        max-height: 0;
        width: 100%
    }
    .login-header-section .row .home{
       margin-right: 70px;
    }

}
